@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  @apply bg-gray-50 dark:bg-[#0b0614];
}
.input {
  @apply w-full px-4 py-3 rounded-xl bg-white/10 text-white placeholder-gray-400 outline-none focus:ring-2 focus:ring-pink-500;
}

.btn-primary {
  @apply px-6 py-3 rounded-xl bg-gradient-to-r from-pink-500 to-purple-600 font-semibold shadow hover:opacity-90 transition;
}
